{
  "larrynotgarry": {
    "name": "Larry",
    "email": "larrynotgarry@andrew.cmu.edu"
  },
  "curlyfries": {
    "name": "Curly",
    "email": "curlyfries@andrew.cmu.edu"
  },
  "moemoemoemoe": {
    "name": "Moe",
    "email": "moemoemoemoe@andrew.cmu.edu"
  }
}