{
  "current_week": 3,
  "weekly_data": {
    "1": {
      "week": 1,
      "excused": [],
      "attended": []
    },
    "3": {
      "week": 3,
      "excused": [
        "moemoemoemoe"
      ],
      "attended": []
    },
    "2": {
      "week": 2,
      "excused": [],
      "attended": []
    }
  }
}